{% extends 'base.html' %}
{% block content %}
<a class="btn btn-secondary btn-sm mb-3" href="{% url 'ingredient:index' %}">Return</a>
<h1 class="text-center mb-3">{{ question.question_text }}</h1>

{% if error_message %}
<p class="alert alert-danger">
	<strong>{{ error_message }}</strong>
</p>
{% endif %}

<form action="{% url 'ingredient:save' article_number %}" method="post">
    {% csrf_token %} 
    {{ form.as_p }}
	<input type="submit" value="Save" class="btn btn-success btn-lg btn-block mt-4" />
</form>



{% endblock %}