{% extends 'base.html' %}
{% block content %}
    <div class="col-md-12">
        <input type="text" class="form-control col-md-10"></input>
        <a href="{% url 'ingredient:filter' '0' 'o' %}">Filter</a>
    </div>
    {% if ingredient_list %}
        {% for ingredient in ingredient_list%}
            <div class="col-md-10 row">
                <div class="col-md-8">
                    {{ingredient.ingredient_name}}
                </div>
                <div class="col-md-2 text-center">
                    <a href="{% url 'ingredient:edit' ingredient.article_number %}">tlt:Edit</a>
                </div>
                <div class="col-md-2 text-center">
                    <a href="{% url 'ingredient:delete' ingredient.article_number %}">tlt:Delete</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        tlt:Não tem nada
    {% endif%}
    {{ newing }}
    <a href="{% url 'ingredient:edit' '0' %}">Add</a>
{% endblock %}