{% extends 'base.html' %}
{% block content %}

    <a class="btn btn-secondary btn-sm mb-3" href="{% url 'recipes:index' %}">Back</a>
    {% if error_message %}
        <p class="alert alert-danger">
            <strong>{{ error_message }}</strong>
        </p>
    {% endif %}
    <form id="recipe_form" class="mb-3" action="{% url 'recipes:save' recipe.recipe_id %}" method="post">
        {% csrf_token %} 
        <div class="card bg-light mb-2">
            <div class="card-header">
                <h1>
                    {% if readonly %}
                        {{ recipe.recipe_name }}
                    {% else %}
                        {{ form.recipe_name }}
                    {% endif %}
                </h1>
            </div>
            <div class="card-body">
                <div class="col-md-12 row">
                    <div class="col-md-6">
                        {% if readonly %}
                            <p class="text-justify">
                                {{ recipe.recipe_description }}
                            </p>
                        {% else %}
                            {{ form.recipe_description }}
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {% if not readonly %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form.recipe_img_url }}
                                </div>
                            </div>
                        {% endif %}

                        <img id="recipe_img" class="img-fluid rounded" src="{{ recipe.recipe_img_url }}" onerror="imgOnError(this)">
              
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-md-12 row text-right">
                    <div class="col-md-4 text-center">
                        <h4>
                            <i class="fas fa-stopwatch"></i>
                        <h4>
                        {% if readonly %}
                            {{ recipe.preparation_time }}H
                        {% else %}
                            {{ form.preparation_time}}
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-center">
                        <h4>
                            <i class="fas fa-pizza-slice"></i>
                        <h4>
                        {% if readonly %}
                            {{ recipe.servings }} 
                        {% else %}
                            {{ form.servings}}
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-center">
                        <h4>
                            <i class="fas fa-dollar-sign"></i>
                        <h4>
                        {{ recipe_cost | floatformat:2}}
                    </div>
                    {% if not readonly %}
                        <div class="col-md-4">
                            <input type="submit" value="Save" class="btn btn-success btn-lg btn-block mt-4" />
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
    <div class="mb-5">
        <h3 class="text-secondary">
            Ingredients
        </h3>
        {% if recipe.recipe_ingredients.all %}
            <ul class="list-group">
                {% for recipe_ingredient in recipe.recipe_ingredients.all %}        
                    <li class="list-group-item"> 
                        <div class="col-md-12 row">
                            <div class="col-md-7">
                                <strong>
                                    {{ recipe_ingredient.ingredient.ingredient_name }} 
                                </strong>
                            </div>
                            <div class="col-md-4">
                                {{ recipe_ingredient.amount_in_recipe | floatformat:2 }} {{recipe_ingredient.ingredient.unit}} ({{recipe_ingredient.cost | floatformat:2}})
                            </div>
                            {% if not readonly%}
                                <div class="col-md-1">
                                    <a href="{% url 'recipes:del_ingredient' recipe_ingredient.recipe_ingredient_id %}" class="btn btn-danger rounded pull-right col-md-12">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                            {% endif%}
                        </div>
                    </li>
                {% endfor %}
                {% if not readonly %}
                    <li class="list-group-item">
                        <form id="ingredient_form" action="{% url 'recipes:add_ingredient' recipe.recipe_id %}" method="post">
                            {% csrf_token %} 
                            <div class="col-md-12 row">
                                <div class="col-md-11 row">      
                                    <div class="col-md-6">
                                        {{ ing_rec_form.ingredient }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ ing_rec_form.amount_in_recipe }}
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <button type="submit"  class="btn btn-success rounded pull-right col-md-12">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                {% endif %}
            </ul>
        {% else %}
            {% if not readonly %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <form action="{% url 'recipes:add_ingredient' recipe.recipe_id %}" method="post">
                            {% csrf_token %} 
                            <div class="col-md-12 row"> 
                                <div class="col-md-11 row">      
                                    <div class="col-md-6">
                                        {{ ing_rec_form.ingredient }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ ing_rec_form.amount_in_recipe }}
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <button type="submit"  class="btn btn-success rounded pull-right col-md-12">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}